
*{
  font-family: sans-serif;

  margin-top: 2%;

  

  letter-spacing: 1px;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color:darkgreen;

    font-weight: bold;
    text-align: center;
}

.img-fluid{

    max-width: max-content;
}
